In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in nfl data csv
nfl_data_csv = "data/nfl_scores.csv"
nfl_data = pd.read_csv(nfl_data_csv)
nfl_df = pd.DataFrame(nfl_data)

In [7]:
nfl_df.head(100)

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
0,9/2/66,1966,1,False,Miami Dolphins,14,23,Oakland Raiders,NaN,NaN,NaN,Orange Bowl,False,83.0,6.0,71,NaN
1,9/3/66,1966,1,False,Houston Oilers,45,7,Denver Broncos,NaN,NaN,NaN,Rice Stadium,False,81.0,7.0,70,NaN
2,9/4/66,1966,1,False,San Diego Chargers,27,7,Buffalo Bills,NaN,NaN,NaN,Balboa Stadium,False,70.0,7.0,82,NaN
3,9/9/66,1966,2,False,Miami Dolphins,14,19,New York Jets,NaN,NaN,NaN,Orange Bowl,False,82.0,11.0,78,NaN
4,9/10/66,1966,1,False,Green Bay Packers,24,3,Baltimore Colts,NaN,NaN,NaN,Lambeau Field,False,64.0,8.0,62,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,11/6/66,1966,10,False,Kansas City Chiefs,24,14,San Diego Chargers,NaN,NaN,NaN,Kansas City Municipal Stadium,False,NaN,NaN,NaN,NaN
96,11/6/66,1966,10,False,Miami Dolphins,0,29,Buffalo Bills,NaN,NaN,NaN,Orange Bowl,False,NaN,NaN,NaN,NaN
97,11/6/66,1966,9,False,New York Giants,17,20,St. Louis Cardinals,NaN,NaN,NaN,Yankee Stadium,False,48.0,14.0,66,NaN
98,11/6/66,1966,10,False,Oakland Raiders,38,23,Houston Oilers,NaN,NaN,NaN,Oakland Coliseum,False,NaN,NaN,NaN,NaN
99,11/6/66,1966,9,False,Philadelphia Eagles,24,23,Dallas Cowboys,NaN,NaN,NaN,Franklin Field,False,46.0,14.0,62,NaN

In [4]:
nfl_df.describe()

,schedule_season,score_home,score_away,spread_favorite,weather_temperature,weather_wind_mph
count,12678.000000,12678.000000,12678.000000,10199.000000,11936.000000,11936.00000
mean,1994.434769,22.364411,19.602776,-5.379498,58.621230,7.85196
std,15.297243,10.565200,10.153315,3.431007,15.539348,5.62761
min,1966.000000,0.000000,0.000000,-26.500000,-6.000000,0.00000
25%,1981.000000,14.000000,13.000000,-7.000000,48.000000,4.00000
50%,1995.000000,21.000000,20.000000,-4.500000,61.000000,8.00000
75%,2008.000000,29.000000,27.000000,-3.000000,72.000000,12.00000
max,2019.000000,72.000000,62.000000,0.000000,97.000000,40.00000

In [8]:
nfl_df["spread_favorite"].value_counts()
nfl_df["over_under_line"].value_counts()

41      602
42      542
44      535
43      518
37      511
       ...
61.5      1
63        1
29.5      1
63.5      1
30.5      1
Name: over_under_line, Length: 68, dtype: int64